@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2EAD0, #F2CA80);
}

h1 {
    color: #bb9361;
    text-align: center;
    text-shadow: 1px 1px 2px #55422b;
}

h2 {
    color: #327373;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #a88458a1;
}

p {
    text-align: justify;
}